// For index.html this is the grid layout made from layout.it I made everything 1fr because of changing
// sizes when interacting with the page and put in a 30px gap to mitgate problems of overlapping that
// I have experienced previously when coding. I made the header and banner in px rather than fr as they didn't
// change size and were being stretched out more than I intended because of the other components 

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 300px 1fr 1fr;
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "banner banner banner"
    "kanban-1 kanban-2 kanban-3"
    "completed completed completed";
}

.header { grid-area: header; }

.banner { grid-area: banner; }

.kanban-1 { grid-area: kanban-1; }

.kanban-2 { grid-area: kanban-2; }

.kanban-3 { grid-area: kanban-3; }

.completed { grid-area: completed; }

// For the mobile layout I knew that I wanted to have a stacking kanban board so I made everything go into 1
// column when it reaches 960px which I was very happy with

@media (max-width: 960px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header"
    "banner"
    "kanban-1"
    "kanban-2" 
    "kanban-3"
    "completed";
  }
}

// I also had to add in some more threshold requirements for mobile as I didnt take into consideration the
// left and right margins so this fix made sure all the kanbans were centred in mobile

@media (max-width: 960px) {
  .kanban-1 {
    margin-right: 30px;
  }
}

@media (max-width: 960px) {
  .kanban-2 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 960px) {
  .kanban-3 {
    margin-left: 30px;
  }
}

// This is the grid layout for the study page as I needed to use a seperate layout for both pages.
// This consisted of no columns, just stacked rows as this was much easier to code for when putting the
// primary and secondary features in. Once again I had to make some rows in px instead of fr as
// things were being stretched and made the page look ugly and not aesthetically pleasing

.container-2 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 90px 1fr 500px 1fr 700px;
  gap: 30px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header-2 header-2 header-2"
    "study-title study-title study-title"
    "timers timers timers"
    "music-player music-player music-player"
    "dictionary dictionary dictionary"
    "pomodoro-timers pomodoro-timers pomodoro-timers";
}

.header-2 { grid-area: header-2; }

.study-title { grid-area: study-title;}

.timers { grid-area: timers; }

.music-player { grid-area: music-player; }

.dictionary { grid-area: dictionary; }

.pomodoro-timers { grid-area: pomodoro-timers; }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}